[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
beautifulsoup4 = "*"
lxml = "*"
black = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
